<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TfsAutomator.WinUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TfsAutomator.WinUI.Properties.Settings>
            <setting name="TfsAddress" serializeAs="String">
                <value>http://tfs4alm10v:8080/tfs/TFS2005%20-%20upgraded%20Projects/</value>
            </setting>
            <setting name="UserDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="UserLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value />
            </setting>
        </TfsAutomator.WinUI.Properties.Settings>
    </userSettings>
</configuration>